body {
    background-color: #1D232A;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
    align-items: center;
    background-color: #15191c;
    box-shadow: opx 4px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}